*{

  margin:0;
  padding:0;

}
body{
  height:100vh;
  background:black;
  color:white;
  font-family:'outfit'
}
/* At the end of index.css */
@media (max-width: 768px) {
  /* Global adjustments like font sizes, container widths */
  body {
    font-size: 16px;
  }
  .container {
    width: 95%;
    padding: 0 10px;
  }
}

